.monospaced {
	font-family: Courier New;
}

.edit {
    	display: none;
}

div.editing .edit {
	display: block;
}

div.editing .checkbox {
	display: none;
}

div .remove {
	display: none;
}

div .remove:hover {
	display: block;
}

div .list .item:hover .remove {
	display: block;
}

.clear {
    float: right;
}

.clear:hover {
	text-decoration: underline;
	color: #777;
}

.intro {
    text-align: center;
}

.intro span {
    color: #BFBFBF;
    font-style:italic;
    font-family: Courier,Quantico,"Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB",STHeiti,"微软雅黑",sans-serif!important;
}
